:root {
    --primary: #2ecc71;
    --secondary: #e74c3c;
    --dark: #333;
}

body {
    background-color: #f4f4f4;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.container {
    width: 350px;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}

h2 { text-align: center; margin-bottom: 20px; }

.balance-container { margin-bottom: 30px; text-align: center; }

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box; /* Ensures padding doesn't break width */
}

.btn {
    width: 100%;
    padding: 10px;
    background-color: #5d5fef;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.list { list-style-type: none; padding: 0; max-height: 200px; overflow-y: auto; }

.list li {
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 10px;
    border-right: 5px solid #bbb;
}

.list li.plus { border-right-color: var(--primary); }
.list li.minus { border-right-color: var(--secondary); }